<div class="join-options">
  <h3>Join random room or enter room id.</h3>

  <%= f = form_for :room, "#", id: "join-room",
    phx_submit: :join_room, phx_change: :form_update %>

  <%= text_input f, :room_id, placeholder: @random_id %>
  <%= submit "Join!", class: "join-button" %>

  </form>
</div>
